*{
    margin: 0;
    padding: 0;
    /* Para que el border de los elementos no afecte en mis estilos usamos */
    box-sizing: border-box;
}


body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

img {
    border-radius: 50%;
    border: solid;
    /* truco: el ancho y el alto deben ser iguales */
    width: 200px;
    height: 200px;
    object-fit: cover;
}

header {
    text-align: center;
    box-sizing: border-box;
    background-color: aliceblue;
    height: 7vh;
    padding: 15px;
    color: black;
}

h1 {
    font-size: xx-large;
    color: white;
}

p {
    color:white;
    height: 3vh;
}

h2 {
    height: 5vh;
    padding: 15px;
    font-size: xx-large;
    color: antiquewhite;
    justify-content: space-between;
    align-items: center;

}

h3 {
   
    font-size: x-large;
    color: antiquewhite;
    
}



body header{
    position: sticky;
    top: 0;
}



section {
    height: 35vh;
    padding: 15px;
}



header p {
    color: black;
    font-size: xx-large;
}

footer p {
    color: black;
    font-size: xx-large;
}