body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

img {
    border-radius: 50%;
    border: solid;
    /* truco: el ancho y el alto deben ser iguales */
    width: 200px;
    height: 200px;
    object-fit: cover;
}

section {
    text-align: center;
    box-sizing: border-box;
    background-color: aliceblue;
    color: black;
}

h1 {
    font-size: xx-large;
    color: black;
}

p {
    color:black;
    text-rendering: auto;
}

h2 {
    font-size: xx-large;
    color: antiquewhite;
}

h3 {
    font-size: x-large;
    color: antiquewhite;
}


ul {
.one {
    list-style: circle;
  }
}



body section{
    position: sticky;
    top: 0;
}
